node_modules
*.log
/log
Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*
Client/pnpm-debug.log*
Client/lerna-debug.log*

Client/node_modules
Client/dist
Client/dist-ssr
Client/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

PrivateServer/__pycache__/
PrivateServer/data/
PrivateServer/Extradata/
PrivateServer/X_train.npy
PrivateServer/Y_train.npy
X_train.npy
Y_train.npy
model_config.json
node_modules
temp.py 
