node_modules
*.log
/log
Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*
Client/pnpm-debug.log*
Client/lerna-debug.log*

Client/node_modules
Client/dist
Client/dist-ssr
Client/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/backend/app/__pycache__
/backend/app/_pycache_
/backend/app/alembic/_pycache_
/backend/app/api/_pycache_
/backend/app/models/_pycache_
/backend/app/schemas/_pycache_
/backend/app/services/_pycache_
/backend/app/utils/_pycache_
/backend/app/utils/CustomModels/_pycache_
/backend/app/CustomModels/__pycache__

/frontend/app/node_modules
/frontend/app/.env.example
/venv
__pycache__
data

