node_modules
*.log
/log
Client/npm-debug.log*
Client/yarn-debug.log*
Client/yarn-error.log*
Client/pnpm-debug.log*
Client/lerna-debug.log*

Client/node_modules
Client/dist
Client/dist-ssr
Client/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/backend/app/__pycache__
/backend/app/_pycache_
/backend/app/alembic/_pycache_
/backend/app/api/__pycache__
/backend/app/models/__pycache__
/backend/app/schemas/__pycache__
/backend/app/services/__pycache__
/backend/app/utils/__pycache__
/backend/app/utils/CustomModels/__pycache__
/backend/app/CustomModels/__pycache__
/backend/app/stderr_output.txt
/backend/app/stdout_output.txt
/backend/app/updated_parameters.txt
/backend/app/local_parameters.txt
backend/app/api/__pycache__
/.env
.env






/frontend/app/node_modules
/frontend/app/.env.example
/venv
/testenv
__pycache__
data
logs

